{% import "flag_macro.jinja" as fm %}
{% for instr in instructions %}
{{ instr.f_modifiers }} {{ instr.f_return_type }} {{ instr.f_name }}({{ instr.f_params }}) {
    {{ instr.int_type }} r1 = {{ instr.lhs }}, src = {{ instr.rhs }};
    {% if instr.c_op != None %}uint8_t c = {{ instr.c_op }};
    {{ instr.int_type }} result = r1 {{ instr.op }} c {{ instr.op }} src;
    {% else %}{{ instr.int_type }} result = r1 {{ instr.op }} src;
    {% endif %}{% if instr.write_back != False %}{% if instr.write_back != None %}{{ instr.write_back }};{% else %}{{ instr.lhs }} = result;{% endif %}{% endif %}
    {% if instr.internal != None %}{{ instr.internal }};{% endif %}
    {{ fm.gen_flags(instr) }}
}
{% endfor %}

