{% for instr in instructions %}
{{ instr.f_modifiers }} {{ instr.f_return_type }} {{ instr.f_name }}({{ instr.f_params }}) {
    {% if instr.preformed == False %} uint16_t address = {{ instr.rhs }};{% endif %}
    {% if instr.cc != None %}
    if ({{ instr.cc }}) {
        {{ instr.lhs }} {{ instr.op }} {% if instr.preformed == False %}address{% else %}{{ instr.rhs }}{% endif %};
        {{ instr.internal }};
    }
    {% else %}{{ instr.lhs }} {{ instr.op }} {% if instr.preformed == False %}address{% else %}{{ instr.rhs }}{% endif %};
    {% endif %}
    {% if (instr.cc == None) or (instr.preformed == True) %}{{ instr.internal }};{% endif %}
}
{% endfor %}
