{% for instr in instructions %}
{{ instr.f_modifiers }} {{ instr.f_return_type }} {{ instr.f_name }}({{ instr.f_params }}) {
    {% if instr.kind == "PUSH" %}{{ instr.internal }};
    {{ instr.rhs }};
    {% else %}
    {% if instr.lhs == "AFp" %}
    uint16_t result = {{ instr.rhs }}; 
    A = MSB(result);
    F = result & 0xFFF0;
    {% else %}{{ instr.lhs }} = {{ instr.rhs }};{% endif %}
    {% endif %}
}
{% endfor %}

