[submodule "gb-test-roms"]
	path = gb-test-roms
	url = https://github.com/retrio/gb-test-roms
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "sm83"]
	path = sm83
	url = https://github.com/SingleStepTests/sm83
[submodule "log.c"]
	path = log.c
	url = https://github.com/rxi/log.c
